<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Canales</ion-label>
    </ion-tab-button>

   

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Pizarra</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
