<ion-header (click)="presentFilter()" translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  
    <ion-title *ngIf="!ios">Mi edificio</ion-title>
    <ion-buttons slot="end">
      
    </ion-buttons>
  </ion-toolbar>
  
 
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi edificio</ion-title>
    </ion-toolbar>
   
  </ion-header>
  <div class="button-center" style="width: 100%;"> <ion-button shape="round" color="success" (click)="goToDirectory()" fill="outline" style="width: 50%;margin: 14px;">
    <ion-icon style="margin-right: 14px;" name="business-outline"></ion-icon> Directorio</ion-button></div>
    <div class="button-center" style="width: 100%;"> <ion-button shape="round" color="warning" (click)="goToDirectory()" fill="outline" style="width: 50%;margin: 14px;">
      <ion-icon style="margin-right: 14px;" name="business-outline"></ion-icon> reportar algo</ion-button></div>
  <ion-grid fixed>
    <ion-row>
      <ion-list-header lines="full">
        <ion-label>Chats</ion-label>
      </ion-list-header>

      <ion-list class="channelList" *ngFor="let channel of channels" >      
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
              <div class="vertical">
                <h4 class="title">{{channel}}</h4>
                <p class="lastchat">
                  Hola, alguien sabe a que hora llega la luz?
                </p>
              </div>             
            </ion-item>       
      </ion-list>
    </ion-row>
  </ion-grid>

  <ion-list-header [hidden]="shownSessions > 0">
    No Sessions Found
  </ion-list-header>
  
      
  <ion-fab slot="fixed" vertical="bottom"    horizontal="end" #fab>
    <ion-fab-button>
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="vimeo" (click)="openSocial('Vimeo', fab)">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="instagram" (click)="openSocial('Instagram', fab)">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="twitter" (click)="openSocial('Twitter', fab)">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="facebook" (click)="openSocial('Facebook', fab)">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
