<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="presentPopover($event)">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="about-header">
    <!-- Instead of loading an image each time the select changes, use opacity to transition them -->
    <div class="about-image madison" [ngStyle]="location === 'madison' && {'opacity': '1'}"></div>
    <div class="about-image austin" [ngStyle]="location === 'austin' && {'opacity': '1'}"></div>
    <div class="about-image chicago" [ngStyle]="location === 'chicago' && {'opacity': '1'}"></div>
    <div class="about-image seattle" [ngStyle]="location === 'seattle' && {'opacity': '1'}"></div>
    <div class="about-image seattle" [ngStyle]="location === 'clubtower' && {'opacity': '1'}"></div>

  </div>

  <div class="about-info">
    <h3 class="ion-padding-top ion-padding-start" style="font-weight: bold;">Pizarra Club Tower</h3>
    <div><p class="ion-padding-start ion-padding-end">
      Estas son las últimas noticias  y normas de <br> la comunidad 
      </p></div>
    
    <ion-list-header lines="full">
      <h3 class="ion-padding-top ion-padding-start">Noticias</h3>

    </ion-list-header>
    <ion-list lines="none" style="    display: flex;
    justify-content: center; flex-direction: column;
    width: 90%; background-color: lavender;
    padding: 0;
    margin: 0;" >
            <ion-card class="speaker-card" style="padding: 0;" >
                <ion-item detail="false" lines="none" class="speaker-item" >
                  
                  <ion-label>
                    <ion-chip color="warning" >
                      <ion-label>La administración</ion-label>
                      <ion-icon name="shield-checkmark-outline" color="warning" style="    margin: 0px;
                      /* margin-right: 5px; */
                      margin-left: 10px;"></ion-icon>

                    </ion-chip> 
                    <h2> recorte de agua a partir del 29 Febrero a las 6pm </h2>
                    <p>16 mayo del 2020, 3:30pm</p> 
                     
                  </ion-label>
                </ion-item>
    
           
            </ion-card>
            <ion-card class="speaker-card">
                <ion-item detail="false" lines="none"  >
                  
                  <ion-label>
                    <ion-chip color="warning">
                      <ion-label>La administración</ion-label>
                      <ion-icon name="shield-checkmark-outline" color="warning"></ion-icon>

                    </ion-chip> 
                    <h2> Se irá la luz por daño en el edificio </h2>
                    <p>16 mayo del 2020, 3:30pm</p> 
                     
                  </ion-label>
                </ion-item>
    
           
            </ion-card>
        
    </ion-list>
    <h3 class="ion-padding-top ion-padding-start" >Normas de la comunidad</h3>

    <ion-list lines="none" style="display: flex;
    justify-content: center; flex-direction: column;
    width: 90%;background-color: lavender;
    padding: 0;
    margin: 0;">
      <ion-grid fixed>
        <ion-row>
            <ion-card class="speaker-card" style="padding: 0%; width: 100%;">
                <ion-item  lines="none">
                  
                  <ion-label>
                    <ion-chip color="success">
                      <ion-label>La administración</ion-label>
                      <ion-icon name="shield-checkmark-outline" color="success"></ion-icon>

                    </ion-chip> 
                    <h2> Nuevas reglas Covid-19</h2>
                    <p>16 mayo del 2020, 3:30pm</p> 
                     
                  </ion-label>
                </ion-item>          
            </ion-card>
            <ion-card class="speaker-card" style="padding: 0%; width: 100%;">
              <ion-item  lines="none">
                
                <ion-label>
                  <ion-chip color="success">
                    <ion-label>La administración</ion-label>
                    <ion-icon name="shield-checkmark-outline" color="success"></ion-icon>

                  </ion-chip> 
                  <h2> Se suspenden areas comunes</h2>
                  <p>16 Septiembre del 2020, 3:30pm</p> 
                   
                </ion-label>
              </ion-item>          
          </ion-card>
        </ion-row>
      </ion-grid>
        
    </ion-list>
    
  </div>
</ion-content>
