.chat{
    display:flex;
    flex-direction: column;
    .me{
        position: relative;
        margin: 20px 5px 0px;
        max-width:80%;
        align-self: flex-end;
        padding: 6px 10px 7px;
        border-radius: 15px 15px 0;
        background: lavender;
        //box-shadow 0 4px 8px 0 rgba (0,0,0,0.2);
        font-size: medium;
        line-height: 1.4;
    }
    .otherMessage{
        position: relative;
        margin: 15px;
        max-width: 80%;
        align-self: flex-start;
        background: orange;

        padding: 6px 10px 7px;
        border-radius:15px 15px 15px 0;
        //box-shadow 0 4px 8px 0 rgba (0,0,0,0.2);
        font-size: medium;
        line-height: 1.4;
        .name{
            font-size: small;
            font-weight: bold;
        }


    }

}