 <ion-header>

     <ion-toolbar>
       <ion-title>Villa Campestre</ion-title>
     </ion-toolbar>
  
   </ion-header>
  
   <ion-content>
  
  
       <div class="chat"  *ngFor="let chat of chatRef | async">
         <!-- <img class="user-img" [src]="msg.userAvatar" alt="" src=""> -->
         <!-- <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner> -->
           <div class="me" *ngIf="uid == chat.userId">          
               {{chat.message}}
           </div>
           <div class="otherMessage" *ngIf="uid !== chat.userId">
             <span class="name">
               {{chat.name}}
             </span> <br>
             {{chat.message}}
           </div>
         </div>
  
  
   </ion-content>
  
   <ion-footer>
     <ion-item>
       <ion-input placeholder="Escribe un mensaje..." [(ngModel)]="text"></ion-input>
       <ion-button (click)="send()" fill="clear" icon-only slot="end">
         <ion-icon name="send"></ion-icon>
       </ion-button>
     </ion-item>  
   </ion-footer>